.competences {
  background-image: url("https://image.winudf.com/v2/image/Y29tLnBvcnRpZXJpYWhtYWQuVmFjYXRpb24uVHJhdmVsV2FsbHBhcGVyX3NjcmVlbnNob3RzXzEwXzc4MTdhNDE5/screen-10.jpg?fakeurl=1&type=.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  font-style: italic;
}

.competencesEtHobbies{
    display: flex;
}

.text {
    position: relative;
    top: 40vh;
    left: 35vw;
    height: 30vh;
    opacity: 0;
}

.text:hover{
    animation: fadein 8s;
    opacity: 1;
}


.competences h1{
    font-size: 3vh;
    margin-bottom: -4vh;
}

.compet{
    width: 19vw;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pen p {
    margin-top: 40vh;
    margin-left: 35vw;
    font-size: calc(5px + 5vh);
    line-height: calc(5px + 7vh);
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 6s infinite;
    -webkit-animation: blink 6s infinite;
  }
  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
  /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #fff6a9;
    }
  }